// USER VARIABLES SECTION

$baseStrong: #141414
$baseWeak: #FFFEFF
$baseStrongLight: #6F6F6F
$accentStrong: #1B66F0
$accentStrongDark: #0D50CA
$accentStrongLight: #4B86F3
$accentStrongDarkest: #184983
$accentWeak: #C9DBFB
$accentWeakLight: #EEF7FF
$neutralWeak: #DDE1E7
$neutralWeakLight: #F4F5F7
$neutralWeakDark: #BBC3CF
$neutralStrongLight: #A4ADBE
$neutralStrongDark: #363E4B
$rf: RF Dewi, sans-serif
$graphik: GraphikLCG, sans-serif
$font16: 16px/1.5 $graphik
$font16Bold: 600 16px/1.5 $graphik

@mixin max($breakpoint)
  @media screen and (max-width: $breakpoint + 'px')
    @content

@mixin min($breakpoint)
  @media screen and (min-width: $breakpoint + 'px')
    @content

@mixin between($min, $max)
  @media screen and (min-width: $min + 'px') and (max-width: $max + 'px')
    @content
