@font-face
  font-family: "RF Dewi"
  src: url("../fonts/RFDevi/RFDewi-Semibold.woff2") format("woff2")
  font-style: normal
  font-weight: 600
@font-face
  font-family: "GraphikLCG"
  src: url("../fonts/GraphikLCG/GraphikLCG-Regular.woff2") format("woff2")
  font-style: normal
  font-weight: 400