.cases-page
  &__wrap
    display: grid
    grid-gap: 24px
    grid-template-columns: 1fr 1fr
  &__item
    background-color: $accentWeakLight
    border-radius: 8px
    padding: 40px
    transition: all 0.3s ease
    counter-increment: item
    &:hover
      background-color: $accentStrongDarkest
      color: $baseWeak
      &:after
        color: $baseWeak
      .portfolio__desc
        color: $baseWeak
    &::after
      content: counter(item, decimal-leading-zero)
      letter-spacing: 0.24px
      font-size: 12px
      line-height: 20px
      color: $baseStrongLight
      transition: all 0.3s ease
  &__more
    margin: 60px 0 120px
.case-page
  img
    user-select: none
  &__content
    display: flex
    gap: 24px
    align-items: flex-start
  &__slider
    margin-right: 56px
    width: 50%
    max-width: 572px
    position: relative
    overflow: hidden
    .navigation
      position: unset
      margin-top: 40px
  &__img
    border-radius: 12px
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    height: 380px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__pagination
    position: unset
    margin-top: 16px
    display: flex
    align-items: center
    justify-content: space-between
    height: 104px
    &-item
      width: 134px
      height: 104px
      padding: 2px
      border: 2px solid #EEF7FF
      border-radius: 12px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      opacity: 1
      background-color: transparent
      &.active
        opacity: 0.12
    img
      width: 126px
      height: 100%
      border-radius: 8px
      display: block
  &__text
    width: 50%
    ul li
      padding-left: 0
    p
      color: $baseStrongLight
  &__part
    padding-bottom: 48px
    &-title
      font-size: 20px
      line-height: 24px
      padding-bottom: 24px
      font-weight: 600
    &-subtitle
      font-size: 16px
      line-height: 24px
      padding-bottom: 16px
      font-weight: 600