.clients
  padding-bottom: 120px
  &__slider
    margin-bottom: 32px
    position: relative
  &__slide
    border-right: 1px solid $neutralWeak
    padding: 24px 32px
    img
      transition: opacity 0.3s ease
      opacity: 0.12
    &:hover img
      opacity: 1