.compitence
  color: $baseStrongLight
  font: $font16
  &__wrap
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 24px
    @include max(1279)
      grid-template-columns: 1fr
  &__desc
    padding-bottom: 48px
    @include max(1279)
      font-size: 14px
      line-height: 22px
      letter-spacing: 0.16px
      padding-bottom: 24px
  &__subtitle
    padding-bottom: 16px
    font: $font16Bold
    @include max(1279)
      font-size: 14px
      line-height: 22px
      letter-spacing: 0.16px
  &__more
    margin-top: 48px
    @include max(1279)
      margin-top: 24px
    svg
      transform: rotate(90deg)
    &.open svg
      transform: rotate(-90deg)
  &__hidden
    margin-top: 48px
    @include max(1279)
      margin-top: 24px