*
  box-sizing: border-box
  outline: none

html
  overflow-x: hidden

body, input, textarea, table, button
  font-family: $graphik

body
  font-size: 14px
  line-height: 1.57
  font-weight: 400
  margin: 0
  width: 100%
  padding: 0
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: flex-start
  min-width: 320px
  min-height: 100vh
  position: relative
  color: $baseStrong

html
  height: 100%

header,
footer,
section,
main
  position: relative
main
  margin-top: 80px
  @include between(1280, 1439)
    margin-top: 60px
.container
  width: 100%
  padding: 0 10px
  margin: 0 auto
  max-width: 1300px
  @include max(1279)
    padding: 0 16px

input[type=search]::-ms-clear
  display: none
  width: 0
  height: 0

input[type=search]::-ms-reveal
  display: none
  width: 0
  height: 0

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  display: none

nav
  list-style-type: none
ul li
  color: $baseStrongLight
  font: $font16
  padding: 0 0 0.5em 0.5em
  list-style-position: inside
ol
  padding: 0
  li
    padding: 16px 0
    border-bottom: 1px solid $neutralWeak
    counter-increment: my-counter
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 20px
    letter-spacing: 0.16px
    position: relative

    &:last-of-type
      border: none

    &::before
      font-size: 8px
      line-height: 12px
      font-weight: 600
      letter-spacing: 0.24px
      width: 24px
      height: 24px
      display: flex
      align-items: center
      justify-content: center
      content: '0' counter(my-counter)
      background-color: $accentStrong
      color: $baseWeak
      border-radius: 50%

a
  text-decoration: none

h1, h2, h3, p, ul
  margin: 0
  padding: 0
  font-weight: 400
table
  width: 100%
  font-size: 14px
  border-collapse: collapse
  th
    text-align: left
    padding: 16px 0
    border-bottom: 2px solid $accentStrong
    gap: 5px
    &:last-of-type
      text-align: right
      padding-right: 10px
    .sortButton
      letter-spacing: 0.16px
      cursor: pointer
      color: $baseStrong
      font-size: 14px
      line-height: 18px
      background-color: transparent
      font-weight: 600
      padding: 0
      &:after
        content: ''
        border-left: 2px solid $neutralWeak
        border-top: 2px solid $neutralWeak
        width: 7px
        height: 7px
        display: inline-block
        border-radius: 2px
        transform: rotate(-135deg)
        position: relative
        left: 10px
    & .sortButton[value="1"]:after
      top: 3px
      border-left: 2px solid $accentStrong
      border-top: 2px solid $accentStrong
      transform: rotate(45deg)
  td
    line-height: 22px
    padding: 16px 0
    border-bottom: 1px solid $neutralWeak
    letter-spacing: 0.16px
    &.price
      text-align: right
      color: $baseStrongLight
      &:after
        content: ' ₽'
    &.parametr
      text-align: right
      color: $baseStrongLight
      &:after
        content: ' mm'
  tbody tr:last-of-type td
    border: none
figure
  margin: 0
.button
  display: inline-flex
  justify-content: center
  align-items: center
  cursor: pointer
  white-space: nowrap
  border-radius: 8px
  background: $accentStrong
  color: $baseWeak
  padding: 9px 20px
  border: none
  transition: all 0.3s ease
  font-size: 14px
  line-height: 22px
  &:hover, &:focus
    background: $accentStrongLight
    color: $baseWeak
  &:active
    background: $accentStrongDark
    color: $baseWeak
  &:disabled
    background: $accentWeakLight
    color: $accentWeak
  @include max(1279)
    width: 100%
    max-width: 400px
    position: relative
    left: 50%
    transform: translateX(-50%)
.button-gray
  display: inline-flex
  align-items: center
  justify-content: center
  border: 1px solid $neutralWeakDark
  padding: 9px 20px
  color: $neutralStrongDark
  border-radius: 8px
  letter-spacing: 0.16px
  transition: all 0.3s ease
  cursor: pointer
  @include max(1279)
    width: 100%
    max-width: 400px
    position: relative
    left: 50%
    transform: translateX(-50%)
  svg
    width: 16px
    height: 16px
    stroke: $accentStrong
    fill: transparent
    margin-left: 8px
  &:hover
    color: $accentStrong
  &:active
    color: $accentStrong
    border-color: $accentStrong
.button-white
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 9px
  width: 100%
  letter-spacing: 0.16px
  transition: all 0.3s ease
  color: $baseStrong
  background-color: $baseWeak
  border-radius: 8px
  cursor: pointer
  font-size: 14px
  line-height: 22px
  &:hover
    color: $accentStrong
    background-color: $neutralWeak
  &:active
    color: $accentStrong
    background-color: $baseWeak
.button-bg
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 9px
  width: 100%
  letter-spacing: 0.16px
  color: $neutralStrongDark
  border-radius: 8px
  background-color: $neutralWeakLight
  font-size: 14px
  line-height: 22px
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    background-color: $neutralWeak
    color: $accentStrong
  &:active
    background-color: $neutralWeakLight
    color: $accentStrong

h1
  font: 600 60px/64px "RF Dewi", sans-serif
  @include between(1280, 1439)
    font: 600 48px/52px $rf
  @include max(1279)
    font: 600 28px/32px $rf

h2
  font: 600 40px/1.1 $rf
  @include between(1280, 1439)
    font-size: 36px
  @include max(1279)
    font-size: 20px
    line-height: 24px

.block
  margin-bottom: 120px

.img
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

  img, picture
    width: 100%
    height: 100%
    display: block
    object-fit: cover

input, textarea
  outline: none
  padding: 12px 16px
  color: $baseStrong
  font: $font16
  background-color: $baseWeak
  border-radius: 4px
  width: 100%
  border: 1px solid $neutralWeakDark
  &::placeholder
    color: $neutralWeakDark
  &:focus
    border-color: $accentStrongLight
label
  display: inline-block
  letter-spacing: 0.16px
  padding-bottom: 4px
  &.required:after
    content: '*'
    color: $criticalStrong
    letter-spacing: 0.16px
    padding-left: 4px

textarea
  resize: none

button
  border: none

address
  font-style: normal
a
  color: $baseStrong
  letter-spacing: 0.16px
  &:hover, &:focus
    color: $accentStrong
  &:active
    color: $accentStrongLight
  &:disabled
    color: $neutralStrongLight
.desktop
  @include max(1279)
    display: none !important
.mobile
  @include min(1280)
    display: none !important
.nowrap
  white-space: nowrap
.hidden
  display: none
.policy
  cursor: pointer
.relative
  position: relative
.before
  font: 12px/20px $graphik
  padding-bottom: 12px
  border-bottom: 1px solid $neutralWeak
  color: $baseStrongLight
  margin-bottom: 64px
  letter-spacing: 0.24px
  @include between(1280, 1439)
    margin-bottom: 48px
  @include max(1279)
    margin-bottom: 24px
.not-found
  background: $neutralWeakLight url("../img/not-found.png") no-repeat center bottom/cover
  padding-top: 80px
  min-height: 100vh
.input-row
  position: relative
  &.hint .hint-text
    display: block
  &.error
    input, textarea
      border-color: $criticalStrong
      background-color: $criticalWeak
      &::placeholder
        color: $neutralWeakDark
      &:active, &:focus
        background-color: $baseWeak
    .hint-text
      display: block
      color: $criticalStrong
  .hint-text
    display: none
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.16px
    position: absolute
    left: 0
    top: calc(100% + 4px)
    color: $baseStrongLight